.academic-container {
    animation: fadeIn 0.4s ease-out forwards;
    height: 100vh;
    background-color: #e0e7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.academic-nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-family: var(--font-ui);
    color: #333;
}

.academic-paper {
    width: 100%;
    max-width: 1000px;
    height: 85vh;
    background-color: #fff;
    box-shadow: var(--shadow-lg);
    padding: 5rem;
    overflow-y: auto;
    font-family: 'Times New Roman', serif;
    /* Classic academic font */
    color: #000;
    line-height: 2;
}

.academic-title {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 3rem;
    font-family: inherit;
}

.ProseMirror {
    outline: none;
    min-height: 500px;
    font-size: 1.1rem;
}